.card-container{
    width: 400px;
    height: 230px; 
    margin-right: auto; /*30px*/
    overflow: hidden;
    /* box-shadow: 0 0 15px 5px; */
    transition:0.5s;
    animation:0.5 ease-in-out; 
    background-color: transparent;
    border-radius: 5px;
    background-size: cover;
    backdrop-filter: blur(9px); /* Blur the background behind the card */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* opacity: 0.9; */
}

.card-container:hover{
    backdrop-filter: blur(0px);
    /* background-color: transparent; */
    box-shadow: 0 0 10px 0;
    transform: scale(1.03);
} 





.cardss{
    margin: 0 75px;
}

.start-cards{
    position:absolute;
    display: flex;
    margin-top: 106px; 
    justify-content:space-between;
    /* margin-bottom: -2px; */
}







.image-container{
    overflow:hidden;
    height:200px;
}

.card-content{
    margin:1rem;
    margin-top: 0.5rem;;
}

h3,p{
    margin:0;
    padding:0;
}
.card-title{
    margin-bottom: 0.5rem;
}

.btn{
    display:flex;
    justify-content:center;
}

.btn button{
    padding: 0.5rem;
    background-color: black;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}
/* 
.btn button:hover{
    background: rgba(27, 156, 252, 0.1);
} */

.btn > a{
    text-transform: uppercase;
    color:#000;
    text-decoration: none;
    font-weight:bold;

}

.card-body p{
    color: white;
}
.card-title h3{
    color: white;
}
