@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  font-family: 'Outfit', sans-serif;
  margin-top: 150px;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  opacity: 0;
  animation: fadeIn 1s 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.form-group {
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1s 0.7s forwards;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #ff6347;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #ff6347;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  opacity: 0;
  animation: fadeIn 1s 0.9s forwards;
}

button:hover {
  background-color: #e5533c;
}
