.outer-div {
  position: relative;
  background-image: url('../../images/download33.png');
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-div {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 100px;
  max-width: 100%;
  max-height: 100%;
  width: 90%; /* Adjusted for responsiveness */
  height: auto;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-heading {
  text-align: center;
  color: black;
  margin-top: 0px;
}

.col {
  padding-bottom: 0px;
}

.form-label {
  color: black;
}

/* Media queries for responsiveness */
@media (min-width: 360px) {
  .inner-div {
    width: 80%; /* Adjusted for small devices */
  }
}

@media (min-width: 768px) {
  .inner-div {
    width: 70%; /* Adjusted for tablets */
  }
}

@media (min-width: 992px) {
  .inner-div {
    width: 40%; /* Adjusted for larger screens */
  }
}